.about {
  padding-top: 60px;
  padding-bottom: 60px;

  @include vp-1439 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.about__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
  margin-bottom: 60px;

  @include vp-1439 {
    flex-direction: column;
    justify-content: flex-start;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.about__col {
  &--main {
    width: 100%;
    max-width: 702px;

    @include vp-1439 {
      max-width: none;
      margin-bottom: 40px;
    }
  }

  &--target {
    width: 100%;
    max-width: 498px;

    @include vp-1439 {
      max-width: 498px;
    }

    @include vp-767 {
      max-width: none;
    }
  }
}

.about__title {
  margin-bottom: 30px;

  @include vp-767 {
    margin-bottom: 15px;
    margin-left: 1px;
  }
}

.about__col--main p {
  margin: 0;
  color: $color-dark;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;

  @include vp-1439 {
    font-size: 20px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

.about__col--target h3 {
  margin: 0;
  margin-bottom: 40px;
  color: $color-action;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;

  @include vp-1439 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

.about__col--target p {
  margin: 0;
  margin-bottom: 50px;
  color: $color-dark;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  @include vp-1439 {
    margin-bottom: 40px;
    line-height: 20px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.about__link {
  min-width: 279px;

  @include vp-767 {
    min-width: 223px;
  }
}

.about__bottom {
  background-color: $color-action;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 32px;
}

.about__list li {
  width: 100%;
  max-width: 504px;
  padding-left: 22px;
  padding-top: 20px;
  display: flex;

  @include vp-1439 {
    max-width: 273px;
  }

  @include vp-767 {
    max-width: 270px;
  }
}

.about__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 16px;
  border: 1px solid $color-white;
}

.about__item h4 {
  margin: 0;
  width: 100%;
  max-width: 201px;
  color: $color-white;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.26px;
  text-transform: uppercase;

  @include vp-1439 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
}

.about__item p {
  margin: 0;
  width: 100%;
  max-width: 201px;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;

  @include vp-1439 {}

  @include vp-767 {
    font-size: 14px;
  }
}
