.burger-button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: transform 0.3s ease;
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.menu.is-open {
  display: block;
  opacity: 1;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.submenu.is-open {
  display: block;
  opacity: 1;
}
