.faq-item {
  border-radius: 16px;
}

.faq-item__btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-transparent;
  cursor: pointer;
  border: 2px solid $color-action;
  border-radius: 16px;
  padding: 40px;
  background-color: $color-white-alternative;
  transition: background-color $trans-default;

  @include vp-1439 {
    padding: 30px;
  }

  @include vp-767 {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 22px;
    padding-bottom: 22px;
    column-gap: 25px;
  }

  &:focus {
    background-color: $color-white;
    transition: background-color $trans-default;
  }

  &:focus-visible {
    background-color: $color-white;
    transition: background-color $trans-default;
  }

  &:hover:not(:focus):not(:focus-visible):not(:active):not(.disabled) {
    background-color: $color-white;
    transition: background-color $trans-default;
  }

  &:active {
    background-color: $color-white;
    transition: background-color $trans-default;
  }
}

.faq-item__btn span {
  flex-shrink: 0;
  padding: 0;
  border: 1px solid $color-action;
  background-color: $color-action;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-color $trans-default;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-white;
    width: 18px;
    height: 18px;
    mask-image: url("../__spritemap#sprite-icon-plus-view");
    mask-size: 18px 18px;
    transition: background-color $trans-default;
  }
}

.faq-item__btn:focus span,
.faq-item__btn:hover span {
  background-color: $color-white;
  transition: background-color $trans-default;

  &::before {
    background-color: $color-action;
    transition: background-color $trans-default;
  }
}

.faq-item__btn:active span {
  background-color: $color-action-alternative;
  transition: background-color $trans-default;

  &::before {
    background-color: $color-white;
    transition: background-color $trans-default;
  }
}

.faq-item__text {
  width: 100%;
  max-width: 894px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  text-align: left;
  color: $color-action;
  transition: color $trans-default;

  @include vp-1439 {
    max-width: 564px;
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-767 {
    max-width: none;
    font-size: 16px;
    line-height: 18px;
  }
}

.faq-item__text br {
  @include vp-1440 {
    display: none;
  }

  @include vp-767 {
    display: none;
  }
}

.faq-item-content {
  display: none;
}

.faq-item-content p {
  margin: 0;
  margin-top: 20px;
  padding-left: 42px;
  padding-right: 72px;
  padding-bottom: 42px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  transition: color $trans-default;

  @include vp-1439 {
    line-height: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }

  @include vp-767 {
    font-size: 14px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 22px;
  }
}

.faq-item.is-active {
  background-color: $color-action;
}

.faq-item.is-active .faq-item__btn {
  background-color: $color-action;
  padding-bottom: 0;
}

.faq-item.is-active .faq-item__text,
.faq-item.is-active p {
  color: $color-white;
}

.faq-item.is-active span {
  background-color: $color-white;

  &::before {
    background-color: $color-action;
    width: 18px;
    height: 2px;
    mask-image: url("../__spritemap#sprite-icon-minus-view");
    mask-size: 18px 2px;
  }
}

.faq-item.is-active .faq-item-content {
  display: block;
}
