.faq {
  padding-top: 60px;
  padding-bottom: 60px;
}

.faq__container {
  margin: 0 auto;
  padding-left: 206px;
  padding-right: 206px;
}

.faq__title {
  margin: 0;
  margin-bottom: 60px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
}

.faq__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.faq__item {}
