.nav-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  row-gap: 20px;
  column-gap: 30px;
  font-size: 0;
  line-height: 0;

  @include vp-1439 {
    column-gap: 15px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
  }
}

.nav-footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $color-dark;
  text-decoration: none;
  transition: color $trans-default;

  &:focus {
    color: $color-action;
    transition: color $trans-default;
  }

  &:focus-visible {
    color: $color-action;
    transition: color $trans-default;
  }

  &:hover:not(:focus):not(:focus-visible):not(:active):not(.disabled) {
    color: rgba($color-action, 0.7);
    transition: color $trans-default;
  }

  &:active {
    color: $color-action-alternative;
    transition: color $trans-default;
  }

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.nav-footer__link.disabled {
  pointer-events: none;
  opacity: 0.2;
}
