.page-footer {
  padding-top: 60px;
  padding-bottom: 40px;

  @include vp-1439 {
    padding-top: 40px;
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 52px auto auto;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 52px;
  grid-row-gap: 25px;

  @include vp-1439 {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-rows: minmax(77px, auto) auto auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-content: space-between;
  }

  @include vp-767 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.page-footer__col--logo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;

  @include vp-1439 {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 98px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 20px;
    order: 1;
  }
}

.page-footer__col--nav {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;

  @include vp-1439 {
    grid-area: 1 / 2 / 2 / 4;
    justify-self: end;
    align-self: start;
    padding-top: 16px;
  }

  @include vp-767 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
    order: 2;
  }
}

.page-footer__col--social {
  grid-area: 1 / 3 / 2 / 4;
  align-self: center;
  justify-self: end;
  font-size: 0;
  line-height: 0;

  @include vp-1439 {
    grid-area: 2 / 3 / 4 / 4;
    width: 100%;
    max-width: 220px;
    justify-self: start;
    padding-top: 1px;
  }

  @include vp-767 {
    padding-top: 0;
    max-width: none;
    order: 5;
  }
}

.page-footer__col--copyright {
  font-size: 0;
  line-height: 0;
  grid-area: 2 / 1 / 3 / 3;

  @include vp-1439 {
    grid-area: 3 / 1 / 4 / 3;
    align-self: end;
  }

  @include vp-767 {
    margin-bottom: 15px;
    order: 4;
  }
}

.page-footer__col--policy {
  font-size: 0;
  line-height: 0;
  grid-area: 2 / 3 / 3 / 4;
  justify-self: end;

  @include vp-1439 {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: start;
    align-self: start;
  }

  @include vp-767 {
    margin-bottom: 13px;
    order: 3;
  }
}

.page-footer__col--copyright span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include vp-1439 {
    font-size: 12px;
    line-height: 12px;
    color: rgba($color-dark, 0.6);
  }

  @include vp-767 {
    line-height: 14px;
  }
}

.page-footer__col--policy a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-dark;
  text-decoration: none;
  transition: color $trans-default;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background-color: $color-dark;
    transition: background-color $trans-default;

    @include vp-1439 {
      bottom: 0;
    }

    @include vp-767 {
      bottom: -1px;
    }
  }

  &:focus {
    color: $color-action;
    transition: color $trans-default;

    &::after {
      background-color: $color-action;
      transition: background-color $trans-default;
    }
  }

  &:focus-visible {
    color: $color-action;
    transition: color $trans-default;

    &::after {
      background-color: $color-action;
      transition: background-color $trans-default;
    }
  }

  &:hover:not(:focus):not(:focus-visible):not(:active):not(.disabled) {
    color: rgba($color-action, 0.7);
    transition: color $trans-default;

    &::after {
      background-color: $color-action;
      transition: background-color $trans-default;
    }
  }

  &:active {
    color: $color-action-alternative;
    transition: color $trans-default;

    &::after {
      background-color: $color-action;
      transition: background-color $trans-default;
    }
  }

  @include vp-1439 {
    font-size: 12px;
    line-height: 12px;
  }

  @include vp-767 {
    line-height: 14px;
  }
}

.page-footer__col--policy a.disabled {
  pointer-events: none;
  opacity: 0.2;
}
