.programs {
  padding-top: 62px;
  padding-bottom: 59px;

  @include vp-1439 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-bottom: 49px;
  }
}

.programs__container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 0;
  grid-row-gap: 40px;
  justify-content: space-between;
  justify-items: start;
  align-items: start;
  align-content: start;
  grid-row-gap: 42px;
  grid-template-rows: auto minmax(420px, auto) auto;

  @include vp-1439 {
    max-width: 768px;
    padding-right: 0;
    padding-left: 45px;
    grid-row-gap: 40px;
  }

  @include vp-767 {
    padding: 0 15px;
    max-width: 320px;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 30px;
    grid-template-rows: minmax(30px, auto) minmax(400px, auto) auto;
    grid-row-gap: 30px;
  }
}

.programs__title {
  grid-area: 1 / 1 / 2 / 3;
  justify-self: start;
  margin-top: 3px;

  @include vp-767 {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 5px;
  }
}

.programs__btn {
  min-width: 234px;
  grid-area: 1 / 3 / 2 / 6;
  justify-self: end;

  @include vp-1439 {
    margin-right: 45px;
  }

  @include vp-767 {
    margin-right: 0;
    grid-area: 3 / 1 / 4 / 2;
    min-width: 205px;
    justify-self: start;
    padding-left: 30px;
  }
}

.programs__slider.swiper {
  width: 100%;
  height: 100%;
  grid-area: 2 / 1 / 3 / 6;

  @include vp-1439 {
    max-width: 768px;
  }

  @include vp-767 {
    grid-area: 2 / 1 / 3 / 3;
    max-width: 290px;
  }
}

.programs__scrollbar {
  grid-area: 3 / 1 / 4 / 5;
  align-self: center;
  width: 1136px;

  @include vp-1439 {
    width: 562px;
  }

  @include vp-767 {
    display: none;
  }
}

.programs__navigation {
  grid-area: 3 / 5 / 4 / 6;
  align-self: center;
  justify-self: end;

  @include vp-1439 {
    margin-right: 45px;
  }

  @include vp-767 {
    margin-right: 0;
    grid-area: 1 / 2 / 2 / 3;
    align-self: start;
    margin-top: 3px;
  }
}
