.programs {
  padding-top: 62px;
  padding-bottom: 60px;

  @include vp-1439 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.programs__container {
  position: relative;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  max-width: 1440px;

  @include vp-1439 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0 15px;
    max-width: 320px;
  }
}

.programs__head {
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include vp-1439 {
    padding: 0 45px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-767 {
    padding: 0;
    max-width: none;
    margin: 0;
    margin-bottom: 35px;
  }
}

.programs__title {
  max-width: 1000px;
}

.programs__btn {
  min-width: 234px;

  @include vp-767 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.programs__slider.swiper {
  margin-bottom: 40px;

  @include vp-1439 {
    padding-left: 45px;
    max-width: 768px;
  }
}

.programs__ui {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1439 {
    padding: 0 45px;
    max-width: 768px;
    margin: 0 auto;
  }
}

.programs__scrollbar {}

.programs__navigation {
  @include vp-767 {
    position: absolute;
    top: 0;
    right: 15px;
  }
}
