.programs {
  padding-top: 62px;
  padding-bottom: 60px;

  @include vp-1439 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.programs__container {
  // position: relative;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  max-width: 1440px;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0;
  grid-row-gap: 40px;
  justify-content: space-between;
  justify-items: start;
  align-items: start;
  align-content: start;

  @include vp-1439 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0 15px;
    max-width: 320px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 30px;
  }
}

.programs__title {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;

  @include vp-767 {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.programs__btn {
  min-width: 234px;
  grid-area: 1 / 3 / 2 / 6;
  justify-self: end;

  @include vp-767 {
    grid-area: 3 / 1 / 4 / 2;
  }
}

.programs__slider.swiper {
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  grid-area: 2 / 1 / 3 / 6;

  @include vp-1439 {
    padding-left: 45px;
    max-width: 768px;
  }

  @include vp-767 {
    grid-area: 2 / 1 / 3 / 3;
    max-width: 290px;
    padding-left: 0;
  }
}

.programs__scrollbar {
  grid-area: 3 / 1 / 4 / 5;
  align-self: center;
  width: 1136px;

  @include vp-1439 {
    max-width: 562px;
  }

  @include vp-767 {
    display: none;
  }
}

.programs__navigation {
  grid-area: 3 / 5 / 4 / 6;
  align-self: center;
  justify-self: end;

  @include vp-767 {
    grid-area: 1 / 2 / 2 / 3;
  }
}
