.reviews-slide {
  width: 100%;
  max-width: 604px;
}

.reviews-slide__container {
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 52px;
  padding-right: 48px;
  border-radius: 16px;
  border: 2px solid $color-action;
}

.reviews-slide__head {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.reviews-slide__col {
  &--avatar {
    display: flex;
    align-items: center;
    margin-right: auto;
    column-gap: 15px;
  }

  &--program {
    margin-right: 25px;
  }

  &--program,
  &--date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 11px;
  }

  &--date {}
}

.reviews-slide__avatar {
  font-size: 0;
  line-height: 0;
}

.reviews-slide__avatar img {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.reviews-slide__col--avatar b {
  width: 100%;
  max-width: 52px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: $color-action;

  @include vp-1439 {
    font-size: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews-slide__col--program b {}

.reviews-slide__col--program span {}

.reviews-slide__col--program b,
.reviews-slide__col--date b {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: $color-action;
  text-transform: uppercase;

  @include vp-1439 {}

  @include vp-767 {}
}

.reviews-slide__col--program span,
.reviews-slide__col--date span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.reviews-slide__col--date b {}

.reviews-slide__col--date span {}

.reviews-slide__content {}

.reviews-slide__content h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-action;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.reviews-slide__content p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  @include vp-1439 {
    font-size: 16px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}
