// Vendor
// ---------------------------------

@import "vendor/normalize";

// Global
// ---------------------------------

@import "global/fonts";
@import "global/variables";
@import "global/mixins";
@import "global/reboot";
@import "global/utils";
@import "global/container";

//Blocks
// ---------------------------------
@import "blocks/slider";
@import "blocks/accordion";
@import "blocks/tabs";
@import "blocks/section-title";
@import "blocks/btn";
@import "blocks/page-header";
@import "blocks/logo";
@import "blocks/burger";
@import "blocks/hero";
@import "blocks/hero-slide";
@import "blocks/about";
@import "blocks/programs";
@import "blocks/programs-slide";
@import "blocks/grant";
@import "blocks/news";
@import "blocks/news-tab";
@import "blocks/news-slide";
@import "blocks/faq";
@import "blocks/faq-item";
@import "blocks/reviews";
@import "blocks/reviews-slide";
@import "blocks/contacts";
@import "blocks/map";
@import "blocks/form";
@import "blocks/page-footer";
@import "blocks/nav-footer";
@import "blocks/social";
